<a href="https://colab.research.google.com/github/shubhamkoul007/Acquire-Valued-Shopper-Challenge-Team1-TDL/blob/main/Team1_Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [3]:
train_history = pd.read_csv("trainHistory.csv")

In [4]:
train_history.head()

         id  chain    offer  market  repeattrips repeater   offerdate
0     86246    205  1208251      34            5        t  2013-04-24
1     86252    205  1197502      34           16        t  2013-03-27
2  12682470     18  1197502      11            0        f  2013-03-28
3  12996040     15  1197502       9            0        f  2013-03-25
4  13089312     15  1204821       9            0        f  2013-04-01

In [5]:
#Adding dummy variables for Boolean Values for repeater Class

pd.get_dummies(train_history["repeater"])

        f  t
0       0  1
1       0  1
2       1  0
3       1  0
4       1  0
...    .. ..
160052  1  0
160053  1  0
160054  0  1
160055  1  0
160056  1  0

[160057 rows x 2 columns]

In [7]:
#Making Repeater Column

Repeater = pd.get_dummies(train_history["repeater"],drop_first= True)

In [8]:
#Adding Repeater Column .(Later older column "repeater" will be removed)

train_history = pd.concat( [ train_history, Repeater ] , axis = 1 )

In [27]:
#Now removing the columns that we are not going to use for our model .Also the repeater column 

train_history.drop( ["id", "chain", "offerdate" , "repeater" ] , axis = 1 , inplace = True )

In [28]:
train_History = train_history.rename( columns = { "t" : "repeater" },inplace = False)

In [29]:
#Now X will contain all the features and Y will contain the target variable

X = train_History.drop("repeater",axis=1)

In [31]:
y = train_History["repeater"]

In [15]:
test_history= pd.read_csv("trainHistory.csv")

In [16]:
test_history.head()

         id  chain    offer  market  repeattrips repeater   offerdate
0     86246    205  1208251      34            5        t  2013-04-24
1     86252    205  1197502      34           16        t  2013-03-27
2  12682470     18  1197502      11            0        f  2013-03-28
3  12996040     15  1197502       9            0        f  2013-03-25
4  13089312     15  1204821       9            0        f  2013-04-01

In [32]:
from sklearn.linear_model import LogisticRegression

logModel = LogisticRegression()

logModel.fit( X , y )

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [33]:
# Here we could have used pipelining , to do the same for preprocessing for test data . Saving it for later

In [34]:
#Doing the same preprocessing for test data without pipelining method

Repeater = pd.get_dummies(test_history["repeater"],drop_first= True)

test_history = pd.concat( [ test_history, Repeater ] , axis = 1 ) 

test_history.drop( ["id", "chain", "offerdate" , "repeater" ] , axis = 1 , inplace = True )

test_History = test_history.rename( columns = { "t" : "repeater" },inplace = False)

X_test = test_History.drop("repeater",axis=1)

y_test = test_History["repeater"]

In [35]:
predictions = logModel.predict(X_test)

from sklearn.metrics import classification_report

print(classification_report(y_test, predictions) )

              precision    recall  f1-score   support

           0       0.73      1.00      0.84    116619
           1       0.00      0.00      0.00     43438

    accuracy                           0.73    160057
   macro avg       0.36      0.50      0.42    160057
weighted avg       0.53      0.73      0.61    160057

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [36]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test , predictions )

array([[116619,      0],
       [ 43438,      0]])

In [37]:

#Just did the very basic things. Code needs more optimization . Data should be ran with other algorithms too .