<a href="https://colab.research.google.com/github/shubhamkoul007/Acquire-Valued-Shopper-Challenge-Team1-TDL/blob/main/Team1_Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [ ]:
train_history = pd.read_csv("trainHistory.csv")

In [ ]:
"""
import gzip
f=gzip.open("/home/shubham/Downloads/transactions.csv.gz",'rb')
file_content=f.read()
file_content.head()

transactions = pd.read_csv("sampleSubmission.csv",,compression='gzip')
#df = pd.read_csv('sample.tar.gz', compression='gzip', header=0, sep=' ', quotechar='"', error_bad_lines=False)
#pd.read_csv("sample.tar.gz",compression='gzip')
transacions.head()

"""

'\nimport gzip\nf=gzip.open("/home/shubham/Downloads/transactions.csv.gz",\'rb\')\nfile_content=f.read()\nfile_content.head()\n\ntransactions = pd.read_csv("sampleSubmission.csv",,compression=\'gzip\')\n#df = pd.read_csv(\'sample.tar.gz\', compression=\'gzip\', header=0, sep=\' \', quotechar=\'"\', error_bad_lines=False)\n#pd.read_csv("sample.tar.gz",compression=\'gzip\')\ntransacions.head()\n\n'

# New Section

In [ ]:
sample_submission = pd.read_csv("sampleSubmission.csv")

sample_submission.head()

FileNotFoundError: ignored

In [ ]:
train_history.head()

         id  chain    offer  market  repeattrips repeater   offerdate
0     86246    205  1208251      34            5        t  2013-04-24
1     86252    205  1197502      34           16        t  2013-03-27
2  12682470     18  1197502      11            0        f  2013-03-28
3  12996040     15  1197502       9            0        f  2013-03-25
4  13089312     15  1204821       9            0        f  2013-04-01

In [ ]:
test_history.head()

``

NameError: ignored

In [ ]:
#Adding dummy variables for Boolean Values for repeater Class

pd.get_dummies(train_history["repeater"])

        f  t
0       0  1
1       0  1
2       1  0
3       1  0
4       1  0
...    .. ..
160052  1  0
160053  1  0
160054  0  1
160055  1  0
160056  1  0

[160057 rows x 2 columns]

In [ ]:
#Making Repeater Column

Repeater = pd.get_dummies(train_history["repeater"],drop_first= True)
Repeater

        t
0       1
1       1
2       0
3       0
4       0
...    ..
160052  0
160053  0
160054  1
160055  0
160056  0

[160057 rows x 1 columns]

In [ ]:
 
#Adding Repeater Column .(Later older column "repeater" will be removed)        
 
train_history = pd.concat( [ train_history, Repeater ] , axis = 1 )

In [ ]:
train_history.head()

         id  chain    offer  market  repeattrips repeater   offerdate  t
0     86246    205  1208251      34            5        t  2013-04-24  1
1     86252    205  1197502      34           16        t  2013-03-27  1
2  12682470     18  1197502      11            0        f  2013-03-28  0
3  12996040     15  1197502       9            0        f  2013-03-25  0
4  13089312     15  1204821       9            0        f  2013-04-01  0

In [ ]:
#Now removing the columns that we are not going to use for our model .Also the repeater column 

train_history.drop( [ "repeater" ] , axis = 1 , inplace = True )
train_history.head()

         id  chain    offer  market  repeattrips   offerdate  t
0     86246    205  1208251      34            5  2013-04-24  1
1     86252    205  1197502      34           16  2013-03-27  1
2  12682470     18  1197502      11            0  2013-03-28  0
3  12996040     15  1197502       9            0  2013-03-25  0
4  13089312     15  1204821       9            0  2013-04-01  0

In [ ]:
train_History = train_history.rename( columns = { "t" : "repeater" },inplace = False)
train_History.head()

         id  chain    offer  market  repeattrips   offerdate  repeater
0     86246    205  1208251      34            5  2013-04-24         1
1     86252    205  1197502      34           16  2013-03-27         1
2  12682470     18  1197502      11            0  2013-03-28         0
3  12996040     15  1197502       9            0  2013-03-25         0
4  13089312     15  1204821       9            0  2013-04-01         0

In [ ]:
#Now X will contain all the features and Y will contain the target variable

X = train_History.drop( ["repeater","offerdate","repeattrips"],axis=1)
X.head()

         id  chain    offer  market
0     86246    205  1208251      34
1     86252    205  1197502      34
2  12682470     18  1197502      11
3  12996040     15  1197502       9
4  13089312     15  1204821       9

In [ ]:
y = train_History["repeater"] 
y.head()

0    1
1    1
2    0
3    0
4    0
Name: repeater, dtype: uint8

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 101)

In [ ]:
from sklearn.linear_model import LogisticRegression

logModel = LogisticRegression()

logModel.fit( X_train , y_train )

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
# Here I could have used pipelining , to do the same  preprocessing for test data . Saving it for later

In [ ]:
#Doing the same preprocessing for test data without pipelining method

#Repeater = pd.get_dummies(test_history["repeater"],drop_first= True)

#test_history = pd.concat( [ test_history, Repeater ] , axis = 1 ) 

#test_history.drop( ["id", "chain", "offerdate" , "repeater" ] , axis = 1 , inplace = True )

#test_History = test_history.drop( ["id", "chain", "offerdate" ] , axis = 1 , inplace = False )


#test_History = test_history.rename( columns = { "t" : "repeater" },inplace = False)

#X_test = test_History.drop("repeater",axis=1)

#X_test.head()

In [ ]:
predictions = logModel.predict(X_test)

#from sklearn.metrics import classification_report

#print(classification_report(y_test, predictions) )

In [ ]:
from sklearn.metrics import classification_report

print(classification_report(y_test, predictions) )

              precision    recall  f1-score   support

           0       0.73      1.00      0.84     35077
           1       0.00      0.00      0.00     12941

    accuracy                           0.73     48018
   macro avg       0.37      0.50      0.42     48018
weighted avg       0.53      0.73      0.62     48018

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test , predictions )

array([[35077,     0],
       [12941,     0]])

In [ ]:

#Just did the very basic things. Code needs more optimization . Data should be ran with other algorithms too .

In [ ]:
#there is a very silly  but interesting thing happenning here. 
#notice the precision, recall and f1 score for 1. 
#They are all zero. now look at our confusion matrix .
# We are only having Type 2 errors or FN and both our FP and TN are zero. 
#The insight to be drawn from this is that our model is practically useless. 
#Aise soch ki True or False k exam me tu saare True likh rha har bar.Very typical of binary classification.
#What accuracy we have can be easily achieved if we start predicting all 1 or 'T' without looking at our test case
#whatever accuracy you can see is only because the test cases have more T than F. 
#suppose our algorithm is run on a test case containing 90 F and 10 T then our accuracy will be 10%.
#if still not clear we can discuss over call.
#Mono

In [ ]:
#one thing to note is that there is data imbalance.
#0    116619
#1     43438
#data imbalance also needs to be handled 
#sheena